@import '../../assets/colors.scss';

.ProgressBar {
  height: 15px;

  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  border-radius: 4px;
  background-color: $whitish;
  overflow: hidden;

  &__bar {
    height: 100%;
    width: 0;
    background-color: $dark-blue; // TODO: change color based on progress

    transition: width .6s ease;
  }
}