@import '../../assets/fonts.scss';
@import '../../assets/colors.scss';
@import '../../assets/forms.scss';

.ActionInput {
  width: 100%;
  display: flex;

  &__input {
    flex-grow: 1;

    @include form-element-base;
    @include form-element-padding;
    @include form-element-states;
    @include form-element-default;

    &--has-button {
      @include form-element-sibling-on-right;
    }
  }

  &__button {
  }
}
