$white: #fff;
$black: #000;

$whitish: #f5f5f5;
$darky-white: #e6e6e6;
$slightly-dark-white: #ddd;
$dark-white: #ccc;
$grayish-white: #adadad;

$grayish: #aaa;

$light-gray: #999;
$gray: #666;
$darky-gray: #555;
$dark-gray: #333;

$light-blue: #66afe9;
$dark-blue: #337ab7;

$dark-green: #3c763d;

$dark-red: #a94442;