@import './colors.scss';
@import './fonts.scss';
@import './styles.scss';

@mixin form-element-base() {
  @include round-corners;

  //line-height: 1.42857143;

  font-size: $font-middle;
  font-weight: $font-normal;
  font-family: $main-font-family;
}

@mixin form-element-padding($size: 'middle') {
  @if $size == 'small'  { padding: 1px 3px; }
  @if $size == 'middle' { padding: 6px 12px; }
  @if $size == 'large'  { padding: 8px 16px; }
}

@mixin shadow($color, $radius: 6px) {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 $radius $color;
}

@mixin form-element-states {
  &:focus {
    outline: 0;
    border-color: $light-blue;
    @include shadow(rgba(102, 175, 233, .6), 8px);
  }

  &--error {
    border-color: $dark-red;

    &:focus {
      border-color: $dark-red;
      @include shadow($dark-red-shadow);
    };
  }

  &--valid {
    border-color: $dark-green;

    &:focus {
      border-color: $dark-green;
      @include shadow($dark-green-shadow);
    };
  }
}

@mixin form-element-default() {
  border-color: $dark-white;
  background-color: $white;
  color: $darky-gray;
}

@mixin form-element-sibling-on-right() {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@mixin form-element-sibling-on-left() {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
