$border-radius-normal: 4px;
$space-after-input: 10px;

@mixin round-corners {
  border: 1px solid transparent;
  border-radius: $border-radius-normal;
}

@mixin full-height {
  height: 100%;
}

@mixin flex-static {
  flex: 0 0 auto;
}


@mixin flex-stretchy {
  flex: 1;
}

@mixin flex {
  display: flex;
}

@mixin flex-column {
  flex-direction: column;
}

.page {
  @include full-height;
  @include flex;
  @include flex-column;

  &__section-flexible {
    @include flex-stretchy;
  }

  &__section-static {
    @include flex-static;
  }
}
