@import '../../assets/colors.scss';
@import '../../assets/forms.scss';

.Button {
  display: inline-block;

  cursor: pointer;

  @include form-element-base;

  text-align: center;
  white-space: nowrap;
  //vertical-align: middle;

  &:focus {
    outline: 0;
  }

  &--default {
    border-color: $dark-white;
    background-color: $white;
    color: $dark-gray;

    &:hover {
      background-color: $darky-white;
      border-color: $grayish-white;
    }
  }

  &--disabled {
    //box-shadow: none;
    opacity: .65;
    cursor: not-allowed;

    &:hover {
      border-color: $dark-white;
      background-color: $white;
    }
  }

  &--sibling-on-right {
    @include form-element-sibling-on-right;
  }

  &--sibling-on-left {
    @include form-element-sibling-on-left;
  }

  &--small {
    @include form-element-padding('small');
  }

  &--middle {
    @include form-element-padding('middle');
  }

  &--large {
    @include form-element-padding('large');
  }
}
